<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Links</h1>

  <.link navigate={~p"/links/new"} class="bg-black text-white px-4 py-2 rounded-md">
    add link
  </.link>
</div>

<div :for={link <- @links}>
  <%= link.url %>
</div>

<.form for={@form} class="space-y-4" phx-submit="submit">
  <.input field={@form[:url]} type="text" label="url" />
  <div class="flex  justify-end">
    <.button>create</.button>
  </div>
</.form>

